@import 'mixins';

@include desktop {
    .bag {
        position: absolute;
        top: 110%;
        right: 0.25%;
        width: 270px;
        max-height: 600px;
        overflow: auto;
        background-color: whitesmoke;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        transition: 0.5s ease;
        cursor: initial;
        z-index: 9999999999;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 2px;

        &::-webkit-scrollbar {
            background-color: whitesmoke;
            width: 5px;
            border-radius: 6px;
        }
        
        &::-webkit-scrollbar-track {
            background-color: whitesmoke;
            border-radius: 6px;
        }
        
        &::-webkit-scrollbar-thumb {
            border-radius: 6px;
        background-color: rgb(202, 202, 202);
        }

        & .buy {
            background-color: rgb(30,30,30);
            color: white;
            font-size: 16px;
            text-align: center;
            margin: 5px;
            padding: 10px 5px;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.5s ease;

            &:hover {
                transform: scale(1.01);
            }
        }

        & .product {
            position: relative;
            margin: 0;
            width: calc(100% - 10px);
            height: auto;
            padding: 5px;
            margin: 5px;
            transition: 0.5s ease-in-out;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-radius: 6px; 
            box-shadow: rgba(0,0,0,.05) 0px 6px 24px 0px, rgba(0, 0, 0, .08) 0px 0px 0px 1px;

            & .image {
                width: 100px;
                height: 100px;
                object-fit: cover;
                object-position: center;
                border-radius: 6px; 
                margin: 5px 10px;
                transform: translate(-50%, -50%);
                box-shadow: rgba(0,0,0,.05) 0px 6px 24px 0px, rgba(0, 0, 0, .08) 0px 0px 0px 1px;
            }

            & .details {
                width: 150px;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                

                & .title {
                    font-size: 14px;
                    color: rgb(30,30,30);
                    font-weight: bolder;
                    padding: 5px;
                }

                & .info {
                    font-size: 10px;
                    color: gray;
                    font-weight: lighter;
                }

                & .quantity {
                    font-size: 12px;
                    color: rgb(207, 78, 78);
                    font-weight: lighter;
                    padding: 3px;
                }

                & .stock {
                    font-size: 10px;
                    color: rgb(30,30,30);
                    font-weight: lighter;
                }

                & .price {
                    font-size: 12px;
                    color: rgb(102, 204, 89);
                
                    & .promo {
                        color: white !important;
                        background-color: palevioletred !important;
                        border-radius: 6px;
                        padding: 2px;
                        font-weight: lighter;
                    }
                }

                & .menu {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    text-align: center;
                    gap: 10px;

                    & div {
                        font-size: 10px;
                        background-color: rgb(204, 89, 108);
                        color: white;
                        padding: 5px;
                        border-radius: 6px; 
                        cursor: pointer;
                        transition: 0.5s ease;

                        &:hover {
                            transform: scale(1.01);
                            background-color: rgb(185, 80, 98);
                        }
                    }
                }
            }
        }
    }
}

@include phone {
    .bag {
        position: absolute;
        top: 102.5%;
        right: 2.5%;
        width: 95%;
        max-height: 600px;
        overflow: auto;
        background-color: whitesmoke;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        transition: 0.5s ease;
        cursor: initial;
        z-index: 9999999999;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 2px;

        &::-webkit-scrollbar {
            background-color: whitesmoke;
            width: 5px;
            border-radius: 6px;
        }
        
        &::-webkit-scrollbar-track {
            background-color: whitesmoke;
            border-radius: 6px;
        }
        
        &::-webkit-scrollbar-thumb {
            border-radius: 6px;
        background-color: rgb(202, 202, 202);
        }

        & .buy {
            background-color: rgb(30,30,30);
            color: white;
            font-size: 16px;
            text-align: center;
            margin: 5px;
            padding: 10px 5px;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.5s ease;

            &:hover {
                transform: scale(1.01);
            }
        }

        & .product {
            position: relative;
            margin: 0;
            width: calc(100% - 10px);
            height: auto;
            padding: 5px;
            margin: 5px;
            transition: 0.5s ease-in-out;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-radius: 6px; 
            box-shadow: rgba(0,0,0,.05) 0px 6px 24px 0px, rgba(0, 0, 0, .08) 0px 0px 0px 1px;

            & .image {
                width: 100px;
                height: 100px;
                object-fit: cover;
                object-position: center;
                border-radius: 6px;
                margin: 5px;
                box-shadow: rgba(0,0,0,.05) 0px 6px 24px 0px, rgba(0, 0, 0, .08) 0px 0px 0px 1px;
            }

            & .details {
                width: 150px;
                height: 100px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                

                & .title {
                    font-size: 14px;
                    color: rgb(30,30,30);
                    font-weight: bolder;
                    padding: 5px;
                }

                & .info {
                    font-size: 10px;
                    color: gray;
                    font-weight: lighter;
                }

                & .quantity {
                    font-size: 12px;
                    color: rgb(207, 78, 78);
                    font-weight: lighter;
                    padding: 3px;
                }

                & .stock {
                    font-size: 10px;
                    color: rgb(30,30,30);
                    font-weight: lighter;
                }

                & .price {
                    font-size: 14px;
                    color: rgb(102, 204, 89);
                
                    & .promo {
                        color: white !important;
                        background-color: palevioletred !important;
                        border-radius: 6px;
                        padding: 2px;
                        font-weight: lighter;
                    }
                }

                & .menu {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    text-align: center;
                    gap: 10px;

                    & div {
                        font-size: 10px;
                        background-color: rgb(204, 89, 108);
                        color: white;
                        padding: 5px;
                        border-radius: 6px; 
                        cursor: pointer;
                        transition: 0.5s ease;

                        &:hover {
                            transform: scale(1.01);
                            background-color: rgb(185, 80, 98);
                        }
                    }
                }
            }
        }
    }
}

    