.instagram {
    position: relative;
    width: 100%;
    border-radius: 6px;

    & .profile {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;

        & h1 {
            font-size: 1.75rem;
            font-family: 'Open Sans', sans-serif !important;
        }

        & .profile-image img {
            width: 7.5rem;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
            margin: 2px;
        }

        & .profile-bio {
            font-size: 1rem;
            font-family: 'Open Sans', sans-serif !important;

            & .profile-desc {
                padding: 0 0 30px;
                font-size: 1.2rem;
                color: gray;
            }
        }
    }
}