@import 'mixins';

.products__review {
    position: relative;
    width: 90%;
    margin: 20px auto 10px;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;

    & .product {
        cursor: pointer;
        position: relative;
        width: 300px;
        min-height: 350px;
        background-color: whitesmoke;
        border-radius: 6px;
        transition: 0.5s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

        & .image {
            width: 100%;
            height: 250px;
            border-radius: 6px 6px 0 0;
            object-fit: cover;
            object-position: center;
            border-bottom: 1px solid lightgray;
        }

        & .title {
            font-size: 18px;
            text-align: center;
            color: rgb(30,30,30);
            font-weight: bolder;
            padding: 5px;
        }

        & .info {
            font-size: 12px;
            text-align: center;
            color: gray;
            font-weight: lighter;
        }

        & .quantity {
            font-size: 14px;
            font-weight: lighter;
            padding: 3px;
            color: gray;
            text-align: center;
            padding: 5px 5px 0;
        }

        & .stock {
            font-size: 12px;
            text-align: center;
            color: rgb(30,30,30);
            font-weight: lighter;
        }

        & .price {
            font-size: 16px;
            text-align: center;
            color: rgb(102, 204, 89);
            padding: 5px;
        }
        
        &:hover {
            transform: scale(1.02);
        }
    }
}

@include desktop {
    .filter {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        text-shadow: none;
        gap: 10px;
    
        & .order {
            width: 150px;
        }
    
        & select {
            cursor: pointer;
            margin: 5px;
            padding: 5px 10px;
            width: 150px;
            border: none;
            font-family: "Poppins", sans-serif;
            font-weight: lighter;
            font-size: 12px;
            color: rgb(30,30,30)
        }
    
        & select:focus {
            outline: none;
        }
    }

    .products {
        position: relative;
        background-color: white;
        width: 90%;
        margin: 20px auto 10px;
        border-radius: 6px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        padding: 20px;
    
        & .product {
            cursor: pointer;
            position: relative;
            width: 300px;
            min-height: 350px;
            background-color: whitesmoke;
            border-radius: 6px;
            transition: 0.5s ease-in-out;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    
            & .image {
                width: 100%;
                height: 250px;
                border-radius: 6px 6px 0 0;
                object-fit: cover;
                object-position: center;
                border-bottom: 1px solid lightgray;
            }
    
            & .title {
                font-size: 18px;
                text-align: center;
                color: rgb(30,30,30);
                font-weight: bolder;
                padding: 5px;
            }
    
            & .info {
                font-size: 12px;
                text-align: center;
                color: gray;
                font-weight: lighter;
            }
    
            & .stock {
                font-size: 12px;
                text-align: center;
                color: rgb(30,30,30);
                font-weight: lighter;
            }
    
            & .price {
                font-size: 16px;
                text-align: center;
                color: rgb(102, 204, 89);
                padding: 5px;
                
                & .promo {
                    color: white !important;
                    background-color: palevioletred !important;
                    border-radius: 6px;
                    padding: 2px;
                    font-weight: lighter;
                }
            }
            
            &:hover {
                transform: scale(1.02);
            }
        }
    }

    .product-layer {
        width: auto;
        margin: 50px;

        & .product-flexbox {
            height: auto;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: center;
            gap: 10px;
        }

        & .preview {
            position: relative;
            height: 500px;
            width: 500px;
            object-fit: cover;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        }
        
        & .product-content {
            background-color: #f1f1f1;
            text-align: center;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            width: 50%;
            padding: 10px 15px;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        
            & .product-title {
                width: fit-content;
                text-align: center;
                font-weight: lighter;
                font-size: 32px;
                padding: 2.5px 10px 2.5px 10px;
                border: 2px solid black;
                margin-left: 50%;
                transform: translate(-50%,0);
                user-select: none;
            }
        
            & .product-price {
                font-size: 24px;
                color: rgb(102, 204, 89);
                
                & .promo {
                    color: white !important;
                    background-color: palevioletred !important;
                    border-radius: 6px;
                    padding: 2px;
                    font-weight: lighter;
                }
            }
        
            & .reviews{
                font-size: 24px;
                color: rgb(228, 218, 81);
            }
        
            & .modern {
                width: fit-content;
                padding: 5px 10px;
                font-size: 18px;
                color: white;
                background-color: black;
                margin-left: 50%;
                transform: translate(-50%,0);
            }
        
            & .product-desc-list {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 20px;
        
                & .product-desc-column {
                    width: 33.33%;
                    font-size: 16px;
                }
            }
        
            & .product-desc-list2 {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 20px;
                
                & .product-desc-row {
                    font-size: 16px;
                }
            }
        }
    }
}

@include phone {
    .filter {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        text-shadow: none;
        gap: 10px;
    
        & .orderby {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            & label {
                margin: auto;
            }
        }
    
        & select {
            cursor: pointer;
            margin: 5px;
            padding: 5px 10px;
            width: 150px;
            border: none;
            font-family: "Poppins", sans-serif;
            font-weight: lighter;
            font-size: 12px;
            color: rgb(30,30,30)
        }
    
        & select:focus {
            outline: none;
        }
    }

    .products {
        position: relative;
        background-color: white;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        padding: 10px;
    
        & .product {
            cursor: pointer;
            position: relative;
            width: 90%;
            margin: 0 auto;
            background-color: whitesmoke;
            border-radius: 6px;
            transition: 0.5s ease-in-out;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    
            & .image {
                width: 100%;
                height: auto;
                border-radius: 6px 6px 0 0;
                object-fit: cover;
                object-position: center;
                border-bottom: 1px solid lightgray;
            }
    
            & .title {
                font-size: 18px;
                text-align: center;
                color: rgb(30,30,30);
                font-weight: bolder;
                padding: 5px;
            }
    
            & .info {
                font-size: 12px;
                text-align: center;
                color: gray;
                font-weight: lighter;
                padding: 0 0 5px;
            }
    
            & .stock {
                font-size: 12px;
                text-align: center;
                color: rgb(30,30,30);
                font-weight: lighter;
            }
    
            & .price {
                font-size: 16px;
                text-align: center;
                color: rgb(102, 204, 89);
                padding: 5px;
                
                & .promo {
                    color: white !important;
                    background-color: palevioletred !important;
                    border-radius: 6px;
                    padding: 2px;
                    font-weight: lighter;
                }
            }
            
            &:hover {
                transform: scale(1.02);
            }
        }
    }

    .product-layer {
        width: 90%;
        margin: 10px auto;

        & .product-flexbox {
            height: auto;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            gap: 10px;
        }

        & .preview {
            position: relative;
            height: auto;
            width: 100%;
            object-fit: cover;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        }
        
        & .product-content {
            background-color: #f1f1f1;
            text-align: center;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            width: 100%;
            padding: 10px 15px;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        
            & .product-title {
                width: fit-content;
                text-align: center;
                font-weight: lighter;
                font-size: 32px;
                padding: 2.5px 10px 2.5px 10px;
                border: 2px solid black;
                margin-left: 50%;
                transform: translate(-50%,0);
                user-select: none;
            }
        
            & .product-price {
                font-size: 24px;
                color: rgb(102, 204, 89);
                
                & .promo {
                    color: white !important;
                    background-color: palevioletred !important;
                    border-radius: 6px;
                    padding: 2px;
                    font-weight: lighter;
                }
            }
        
            & .reviews{
                font-size: 24px;
                color: rgb(228, 218, 81);
            }
        
            & .modern {
                width: fit-content;
                padding: 5px 10px;
                font-size: 18px;
                color: white;
                background-color: black;
                margin-left: 50%;
                transform: translate(-50%,0);
            }
        
            & .product-desc-list {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 20px;
        
                & .product-desc-column {
                    width: 33.33%;
                    font-size: 16px;
                }
            }
        
            & .product-desc-list2 {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 20px;
                
                & .product-desc-row {
                    font-size: 16px;
                }
            }
        }
    }
}
