@import 'mixins';

@include desktop {
    .footer {
        position: relative;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        gap: 25px;
        padding: 30px 0;
        color: #000;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

        & .footer__title {
            height: fit-content;
            width: fit-content;
            padding: 1px;
            font-size: 32px;
            letter-spacing: 5px;
            font-weight: bolder;
            background-color: white;
            user-select: none;
            margin:auto;

            & a {
                font-family: 'Righteous', cursive;
                color: rgb(30,30,30) !important;
                text-decoration: none !important;
            }
        }

        & .footer__columns {
            position: relative;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 20px 75px;

            & .footer__column {
                position: relative;
                text-align: center;
                font-size: 18px;
                color: grey;

                & .title {
                    cursor: default;
                    color: black;
                }

                & input {
                    border: none;
                    margin: 5px auto;
                    padding: 7px 15px;
                    border: none;
                    font-size: 14px;
                    border-radius: 5px; 
                    width: 100%;
                    background-color: white;
                    box-shadow: none;
                }
            }
        }
    }

    .copyright {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 10px;
        background-color:rgb(30,30,30);
        color: grey;

        & .title {
            padding: 10px;
            width: 50%;
        }

        & .flex {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 10px;
            gap: 20px;

            & .flex__child {
                cursor: pointer;

                &:hover {
                    color: lightgrey;
                }
            }
        }
    }
}

@include phone {
    .footer {
        position: relative;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        gap: 25px;
        padding: 30px 0;
        color: #000;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

        & .footer__title {
            height: fit-content;
            width: fit-content;
            padding: 1px;
            font-size: 32px;
            letter-spacing: 5px;
            font-weight: bolder;
            background-color: white;
            user-select: none;
            margin:auto;

            & a {
                font-family: 'Righteous', cursive;
                color: rgb(30,30,30) !important;
                text-decoration: none !important;
            }
        }

        & .footer__columns {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 20px 0;

            & .footer__column {
                position: relative;
                text-align: center;
                font-size: 18px;
                color: grey;
                margin: 25px 0;

                & .title {
                    cursor: default;
                    color: black;
                }

                & input {
                    border: none;
                    margin: 5px auto;
                    padding: 7px 15px;
                    border: none;
                    font-size: 14px;
                    border-radius: 5px; 
                    width: 90%;
                    background-color: white;
                    box-shadow: none;
                    
                }
            }
        }
    }

    .copyright {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        background-color:rgb(30,30,30);
        color: grey;

        & .title {
            text-align: center;
            padding: 10px;
        }

        & .flex {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 10px;
            gap: 20px;

            & .flex__child {
                text-align: center;
                cursor: pointer;

                &:hover {
                    color: lightgrey;
                }
            }
        }
    }
}
