.insert {
    width: 75vw;
    position: relative;
    margin: 10px auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 5px;

    & input {
        text-align: center;
    }
}

.insert__button {
    width: 75vw !important;
}